.form-container {
  max-width: 500px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

mat-form-field {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
}